<div class="container">
  <div class="col-xs-12">
      <!-- <pre>
        {{ Game.cards }}
      </pre> -->


      <h1>Card game</h1>
  </div>

  <div class="row cards">

    <div ng-repeat="card in Game.cards" class="col-xs-2">
      <div class="card-container">
        <div class="card-inner">

          <div class="card-front">
              {{ card.rank }}  - {{ card.type }}
          </div>

          <div class="card-back">

          </div>

        </div>
      </div>

     </div>
  </div>

</div>
